$LOAD_PATH << "#{File.dirname(__FILE__)}/../lib"
$LOAD_PATH << "#{File.dirname(__FILE__)}/../vendor"
require "cover"
require "./viewer"


## Maker with zoom limits

# require "../basic.rb"
# 
# Cover.config.setup
# 
# run Cover::Viewer.new(
#   :maker => Cover.config.maker,
#   :center => "37.7392,-122.3011,9",
#   :zoom => 9..15
# )


## MBTiles database

# database = SQLite3::Database.new("/var/tilesets/sf.mbtiles")
# tileset = Cover::Tileset.new(database)
# 
# run Cover::Viewer.new(
#   :tileset => tileset,
#   :center => "37.7392,-122.3011,9"
# )
